$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#header {
  width: 1024px;
  margin: 0 auto 60px auto;

  #titlebar {
    background-color: #263238;
    padding: 30px;
    position: relative;
    font-size: 1.5em;

    #title {
      color: white;
      text-align: center;
    }

    #search_bar {
      position: absolute;
      right: 20px;
      top: 19px;
      input[type=search] {
      	padding: 15px;
      	background: #3C464C;
        color: white;
        border: 0;
        font-size: .7em;
        border-radius: 30px;
      }
    }
  }

  #categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    border: solid 1px #ECECEC;
    box-shadow: 0 8px 13px -3px #f6f6f6;

    div {
      padding: 16px;
      font-weight:700;
    }

    div:first-child {
      border-bottom: solid 3px #009CDE;
      cursor: pointer;
    }
  }
}

#content {
  width: 924px;
  margin: 0 auto;

  #top_stories {
    font-family: serif;
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 18px;
    margin-bottom: 30px;
  }

  .article {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border: solid 1px #ECECEC;
    box-shadow: 0 8px 13px -3px #f6f6f6;
    position: relative;
    height: 200px;
    cursor: pointer;

    .article_image{
      min-width: 200px;
      background-color: lightgray;

      img {
        object-fit: cover;
        width: 200px;
        height: 200px;
      }
    }

    .article_info {
      padding: 30px 20px;
    }

    .article_title {
      font-size: 1.4em;
      margin-bottom: 40px;
    }

    .article_snippet {
    }

    .article_credit {
      position: absolute;
      bottom: 20px;
      color: #B1B3B3;

      .article_time {
        color: #002F6C;
      }
    }
  }
}

.search_article:first-of-type {
  border-top: solid 2px #F5F5F5;
}

.search_articles {
  margin-bottom: 30px;
}

.search_article {
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #F5F5F5;
  padding: 20px 0;
  cursor: pointer;

  .article_image{
    min-width: 100px;
    min-height: 100px;

    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
  }

  .article_info {
    padding: 10px 30px;
    .article_title {
      color: #009CDE;
      margin-bottom: 30px;
      font-size: 1.5em;
    }
  }
}

.full_article {

  .article_title {
    font-size: 2.5em;
    margin-bottom: 35px;
  }

  .article_credit {
    margin-bottom: 45px;
    color: #B1B3B3;
  }

  .article_time {
    color: #02316D;
  }

  .article_content {
    display: flex;
    flex-direction: row;

    .article_image{
      min-width: 150px;
      min-height: 150px;

      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
      }
    }

    .article_info {
      padding: 10px 40px;

      a {
        position: relative;
        top: 15px;
        font-size: .8em;
        text-decoration: none;
      }
    }
  }
}

#breadcrumbs {
  margin-bottom: 35px;
  font-size: 1.25em;

  #first {
    color: #009CDE;
    cursor: pointer;
  }

  #second {
    color: #C7C7CC;
    margin: 0 12px;
  }

}

#page_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  button {
    cursor: pointer;
    background-color: white;
    border: 2px solid #ECECEC;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    }
}
